:root {
    --dark-color: #2E2F42;
}

:root {
    --text-color: #434455;
}

:root {
    --primary-brand-color: #4D5AE5;
}

:root {
    --white-color: #FFFFFF;
}

:root {
    --pressed-state-color: #404BBF;
}

:root {
    --light-color: #F4F4FD;
}

:root {
    --accent-color: #E7E9FC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--white-color);

}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}


.body-medium {
    color: var(--dark-color); 
    font-weight: 500; 
    font-size: 16px ;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

.body-small {
  font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em;
}

.button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
}

.header-three {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.header-two {
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

p, h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* *-----Header----- */
.logo {
    color:  var(--primary-brand-color);
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
}

.logo-accent {
    color: var(--dark-color);
}

.logo:hover,
.logo:focus {
    color: var(--pressed-state-color);
}

.header-menu-item:hover,
.header-menu-item:focus {
    color: var(--pressed-state-color);
}

.head-address {
    font-style: normal;
}

.head-address-link {
    color: currentColor;
}

.head-address-link:hover,
.head-address-link:focus {
    color: var(--pressed-state-color);
}

.header {
    border-bottom: 1px solid var(--accent-color);
}

.header-menu {
    display: flex;
    gap: 40px;
}

.head-address-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-menu-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

/** ------Solution------ */
.solution {
    background-color: var(--dark-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-bg.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
}

.solution-title {
    color: var(--white-color);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.solution-btn {
    border: none;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--primary-brand-color);
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    min-height: 56px;
}

.solution-btn:hover,
.solution-btn:focus {
    background-color: var(--pressed-state-color);
}


/* *-------Benefits------- */
.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-subtitle {
    margin-bottom: 8px;
}

.benefits-item {
    width: calc((100% - 24px * 3) / 4);
}

.benefits-block {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--light-color);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *------- Doing-------- */
.doing {
    padding-bottom: 120px;
}

.doing-list {
    display: flex;
    gap: 24px;
}

.doing-title {
    margin: 0 auto;
    margin-bottom: 72px;
}

.doing-item {
    width: calc((100% - 24px * 2) / 3);
}


/* *--------Team----------- */
.team {
    background-color: var(--light-color);
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-list > li {
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 24 * 3) / 4);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-title {
    margin-bottom: 72px;
}

.team-list-container {
    padding: 32px 16px;
}

.team-list-block {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
}

.team-list-social {
    display: flex;
    gap: 24px;
}

.team-list-link:is(:hover, :focus) .team-list-block {
    background-color: var(--pressed-state-color);
}

/* *-------Customers------ */
.customers {
    padding: 120px;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customer-list-icon {
    fill: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-block {
    width: 168px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:is(:hover, :focus) .customer-list-icon {
    fill: var(--pressed-state-color);
}

.customers-list-link:is(:hover, :focus) .customers-block {
    border: 1px solid var(--pressed-state-color);
}

/* *---------Footer--------- */
.footer {
    background-color: var(--dark-color);
    padding: 100px 0;

}

.footer-logo {
    color: var(--primary-brand-color);
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: var(--light-color);
    width: 264px;
}

.footer-logo-accent {
    color: var(--light-color);
}

.fotter-text1{
    color: var(--white-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-container {
    display: flex;
}

.footer-list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-top-container {
    margin-right: 120px;
}

.footer-icon-block {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:is(:hover, :focus) .footer-icon-block{
    background-color: #31D0AA;
}


/* *--------Portfolio-------- */
.btn-list > li > button {
    color: var(--primary-brand-color);
    cursor: pointer;
    text-align: center;
    background-color: var(--light-color);   
}

.btn-list > li > button:hover,
.btn-list > li > button:focus {
    background-color: var(--pressed-state-color);
    color: var(--white-color);
    border: 1px solid transparent;
}

.img-text {
    color: var(--text-color);
}

.img-link > p:hover,
.img-link > p:focus {
    color: var(--pressed-state-color);
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.btn-list {
    display: flex;
    margin-bottom: 72px;
    gap: 24px;
    justify-content: center;
}

.portfolio-btn {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
}

.img-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.img-subtitle {
    margin-bottom: 8px;
}

.img-list-item {
    width: calc((100% - 24px * 2) / 3);
}

.img-list-container {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}